<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if yes == None %}
    <form action="/doosan/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% endif %}

{% if yes %}
    {{ mod }}
{% endif %}


</body>
</html>